<launch>
	<!-- SocketCAN -->
	<include file="$(find adl200_motor_driver)/launch/socketcan_bridge.launch"/>
	<node name="adl200_motor_driver" pkg="adl200_motor_driver" type="adl200_motor_driver" />

	<!-- Robot Driver -->
	<include file="$(find adl200_core)/launch/adl200_driver.launch">
		<arg name="broadcast_tf" value="true"/>
	</include>
	
        <!-- param name="robot_description" command="$(find xacro)/xacro '$(find adl200_description)/urdf/adl200_description.urdf'" / -->

	<!-- send fake joint values >
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /-->
	
</launch>
